@import url(https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap);

html {
    scroll-padding: 5rem;
}


* {
    font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}

body {
    color: rgb(0, 0, 0);
}

header {
    background-color: rgb(0, 0, 0);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 100px;
    box-shadow: 1px 1px 25px 2px rgba(255, 255, 255, 0.3);
}

.LOGO {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: 1.7em;
}

.navigation a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.1em;
    font-weight: 700;
    padding-left: 30px;
    white-space: nowrap;

}

.navigation a:hover {
    color: gray;
}

section {
    text-align: center;
    padding-top: 100px;
    height: 100vh;
}

.Games{
    background-color: #121212;  
    padding: 20px;
    height: 100%;
}

.Games .title {
    color: #ffffff;
    padding-top: 3em;
    white-space: nowrap;
}

.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}


.GameCard{
    background-color: #ffffff;
    border: 1px solid #ffffff;
    min-height: 14em;
    width: 18em;
    overflow: hidden;
    border-radius: 10px;
    margin: 25px;
    transition: 0.7s ease;
    margin-bottom: 50PX;
}


.GameCard:hover{
    transform: scale(1.1);
}
.GameCard:hover .gameImage{
    opacity: 0.9;
    
}

.gameImage img{
    width: 100%;
}


.gameInfo{
    padding: 1em;
    text-align: left;
    
}

.game-category{
    font-size: 0.8em;
    font-weight: 700;
    color: black;
    text-decoration: none;
}

.gameTitle{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
    white-space: nowrap;
    color: black;
    

}

.PlayNow{
    text-decoration: none;
    color: #03178c;
}

.PlayNow:hover{
    color:#0465bf;
}


.content .C-Card{
    box-shadow: 0 5px 25px rgba(1, 1, 1 ,50%);
    border-radius: 15px;

}

.C-Card{
    background-color: #ffffff;
    border: 1px solid #ffffff;
    min-height: 6em;
    width: 17em;
    overflow: hidden;
    border-radius: 10px;
    transition: 0.7s ease;
    margin-bottom: 60PX;
}

.C-Card:hover{
    transform: scale(1.1);
}




.hamburger {
    position: relative;
    display: block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;

}

.footer {
    background-color: #000000;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}


.copyrights {
    background-color: black;
    color: white;
    padding: .5rem;

}

.container {
    padding: .5rem;
}


.hamburger .bar,
.hamburger:after,
.hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #ffffff;
    margin: 6px 0px;
    transition: 0.4s;
}

.hamburger.is-active:before {
    transform: rotate(-45deg) translate(-8px, 6px);
}


.hamburger.is-active:after {
    transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
    opacity: 0;
}


.mobile-nav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background-color: #000000;
    padding-top: 120px;
    transition: 0.4s;
}

.mobile-nav a {
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 0 auto 16px;
    text-align: center;
    margin-bottom: 16px;
    padding: 12px 16px;
    font-size: 1.5em;
    font-weight: 900;
    color: #ffffff;
    text-decoration: none;
    background-color: #000000;

}

.mobile-nav a:hover {
    background-color:gray;
}



.mobile-navAr.is-active {
    right: 0;
}

.mobile-nav.is-active {
    left: 0;
}



.mobile-navAr {
    position: fixed;
    top: 0;
    right: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background-color: #000;
    padding-top: 120px;
    transition: 0.4s;
}



.mobile-navAr a {
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 0 auto 16px;
    text-align: center;
    margin-bottom: 16px;
    padding: 12px 16px;
    font-size: 1.5em;
    font-weight: 900;
    color: #ffffff;
    text-decoration: none;
    background-color: #000000;
}

.mobile-navAr a:hover {
    background-color: rgb(234, 234, 234);
}

@media (max-width:768px) {
    .footer img {
        min-width: 6em;
        width: 6em;
    }

    .footer {
        display: flow-root;
    }
}

@media (max-width:1023px) {

    header {
        padding: 12px 20px;
    }

    .navigation a {
        padding-left: 10px;
    }

    .title {
        font-size: 1.2em;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }
}


@media (max-width: 767px) {
    .navigation a {
        display: none;
    }

    .logo {
        font-size: 2em;
        padding-left: 50px;
        font-weight: 900;
    }

}


@media (min-width: 768px) {
    .mobile-nav {
        display: none;
    }

    .hamburger {
        display: none;
    }
}