@import url(https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap);

html {
    scroll-padding: 5rem;
}


* {
    font-family: 'Cairo', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

body {
    color: white;
}

header {
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 100px;
    box-shadow: 1px 1px 20px 2px rgba(0, 0, 0, 0.2);
}

.LOGO {
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-size: 1.7em;
}

.navigation a {
    text-decoration: none;
    color: black;
    font-size: 1.1em;
    font-weight: 700;
    padding-left: 30px;
    white-space: nowrap;

}

.navigation a:hover {
    color: gray;
}

section {
    text-align: center;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    /* background: url(images/background1.png) no-repeat; */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #ffffff;
    justify-content: center;
}

.main h2 {
    color: #000000;
    font-size: 1.4em;
    font-weight: 500;
    white-space: nowrap;

}

.main h2 span {
    display: inline-block;
    margin-top: -10px;
    color: #000000;
    font-size: 2.5em;
    font-weight: 900;
}

.main h3 {
    color: #000000;
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 10px;

}

.Icon {
    color: #000000;
    font-size: 1.7em;
    padding-right: 15px;
    transition: 0.7s ease;
}

.Icon :hover {
    transform: scale(1.1);
}

.hamburger {
    position: relative;
    display: block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;

}

.footer {
    background-color: #000000;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    padding: .5rem;
}

.footer a {
    text-decoration: none;
    color: #0000ff;
}

.footer img {
    min-width: 8em;
    width: 8em;
}

.footer-logo {

    padding: .5rem;
}

.footer-contact {

    padding: .5rem;
}

.footer-links {
    padding: .5rem;
}

.footer-about {
    padding: .5rem;
}

.copyrights {
    background-color: black;
}

.container {
    padding: .5rem;
}


.hamburger .bar,
.hamburger:after,
.hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #000000;
    margin: 6px 0px;
    transition: 0.4s;
}

.hamburger.is-active:before {
    transform: rotate(-45deg) translate(-8px, 6px);
}


.hamburger.is-active:after {
    transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
    opacity: 0;
}


.mobile-nav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background-color: #ffffff;
    padding-top: 120px;
    transition: 0.4s;
}

.mobile-nav a {
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 0 auto 16px;
    text-align: center;
    margin-bottom: 16px;
    padding: 12px 16px;
    font-size: 1.5em;
    font-weight: 900;
    color: #000;
    text-decoration: none;
    background-color: #ffffff;

}

.mobile-nav a:hover {
    background-color: rgb(234, 234, 234);
}



.mobile-navAr.is-active {
    right: 0;
}

.mobile-nav.is-active {
    left: 0;
}



.mobile-navAr {
    position: fixed;
    top: 0;
    right: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background-color: #000;
    padding-top: 120px;
    transition: 0.4s;
}



.mobile-navAr a {
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 0 auto 16px;
    text-align: center;
    margin-bottom: 16px;
    padding: 12px 16px;
    font-size: 1.5em;
    font-weight: 900;
    color: #000;
    text-decoration: none;
    background-color: #ffffff;
}

.mobile-navAr a:hover {
    background-color: rgb(234, 234, 234);
}

@media (max-width:768px) {
    .footer img {
        min-width: 6em;
        width: 6em;
    }

    .footer {
        display: flow-root;
    }
}

@media (max-width:1023px) {

    header {
        padding: 12px 20px;
    }

    .navigation a {
        padding-left: 10px;
    }

    .title {
        font-size: 1.2em;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }
}


@media (max-width: 767px) {
    .navigation a {
        display: none;
    }

    .logo {
        font-size: 2em;
        padding-left: 50px;
        font-weight: 900;
    }

}


@media (min-width: 768px) {
    .mobile-nav {
        display: none;
    }

    .hamburger {
        display: none;
    }
}