@import url(https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap);

html {
    scroll-padding: 5rem;
}


* {
    font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow: auto; /* Ensure scrolling is still possible */
    scrollbar-width: none;
}

body {
    color: #ffffff;
}

header {
    background-color: rgb(0, 0, 0);
    width: 100%;
    position:relative;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 100px;
    box-shadow: 1px 1px 25px 2px rgba(255, 255, 255, 0.3);
}

.LOGO {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: 1.7em;
}

.navigation a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.1em;
    font-weight: 700;
    padding-left: 30px;
    white-space: nowrap;

}

.navigation a:hover {
    color: gray;
}

section p {
    font-size: 1.6em;
    font-weight: 700;
    padding: .5rem;
} 

.title {
    font-size: 1.7em;
    font-weight: 00;
    padding: 2rem;
}

.mainImage{
    max-width: 400px;
    max-height: 600px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

section {
    padding: 2rem 10rem;
    background-color: #121212;
    justify-items: center;
}
section img {
    padding-top: 1rem;
    padding-bottom: 1rem;

}

section .p-about{
    font-size: 1.4em;
    padding-top: 1rem;
    padding-bottom: 1rem;

}

section .a-title{
    font-size: 1.8em;
    padding-top: 1rem;
    padding-bottom: 1rem;

} 

section .dow-tit{
    font-size: 2em;
    font-weight: 900;
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-left: 0rem;
    padding-right: 0rem;
} 

.j-color {
    color: rgb(255, 0, 0);
    font-size: 1.2em;
    padding: 0;
}

section button {
    margin: 1rem;
    width: 150px;
    height: 50px;
    background: linear-gradient(45deg, #1E90FF, #00BFFF);
    color: rgb(240, 240, 240);
    font-weight: 800;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

section button:hover {
    background: linear-gradient(45deg, #00BFFF, #1E90FF);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.thumbnail {
    max-width: 60px;
    cursor: pointer;
    margin: 5px;
}
.highlight {
    border: 2px solid rgb(0, 0, 0);
}


.hamburger {
    position: relative;
    display: block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;

}

.footer {
    background-color: #000000;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}


.copyrights {
    background-color: black;
    color: white;
    padding: .5rem;

}

.container {
    padding: .5rem;
}


.hamburger .bar,
.hamburger:after,
.hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #ffffff;
    margin: 6px 0px;
    transition: 0.4s;
}

.hamburger.is-active:before {
    transform: rotate(-45deg) translate(-8px, 6px);
}


.hamburger.is-active:after {
    transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
    opacity: 0;
}


.mobile-nav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background-color: #000000;
    padding-top: 120px;
    transition: 0.4s;
}

.mobile-nav a {
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 0 auto 16px;
    text-align: center;
    margin-bottom: 16px;
    padding: 12px 16px;
    font-size: 1.5em;
    font-weight: 900;
    color: #ffffff;
    text-decoration: none;
    background-color: #000000;

}

.mobile-nav a:hover {
    background-color:gray;
}



.mobile-navAr.is-active {
    right: 0;
}

.mobile-nav.is-active {
    left: 0;
}



.mobile-navAr {
    position: fixed;
    top: 0;
    right: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background-color: #000;
    padding-top: 120px;
    transition: 0.4s;
}



.mobile-navAr a {
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 0 auto 16px;
    text-align: center;
    margin-bottom: 16px;
    padding: 12px 16px;
    font-size: 1.5em;
    font-weight: 900;
    color: #ffffff;
    text-decoration: none;
    background-color: #000000;
}

.mobile-navAr a:hover {
    background-color: rgb(234, 234, 234);
}

@media (max-width:768px) {

    section {
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 1rem;
        padding-bottom: 2rem;
    }


}

@media (max-width:1023px) {

    header {
        padding: 12px 20px;
    }

    .navigation a {
        padding-left: 10px;
    }

    .title {
        font-size: 1.4em;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }
}


@media (max-width: 767px) {
    .navigation a {
        display: none;
    }

    .logo {
        font-size: 2em;
        padding-left: 50px;
        font-weight: 900;
    }

}


@media (min-width: 768px) {
    .mobile-nav {
        display: none;
    }

    .hamburger {
        display: none;
    }
}